services:
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/certs:/etc/nginx/certs:ro
    command: /bin/sh -c "rm -f /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"
    depends_on:
      - frontend
      - backend
    networks:
      - appnet

  backend:
    build: ./backend
    container_name: backend
    expose:
      - "3000"
    environment:
      - NODE_ENV=production
      - MONGO_URL=mongodb://mongo:27017/appdb
      - HASH_FUNCTION=sha256
      - SALT_BITS=16
      - SECRET=secret
      - PORT=3000
      - API_HOST=host
    networks:
      - appnet

  frontend:
    build: ./tsw-threads
    container_name: frontend
    expose:
      - "80"
    depends_on:
      - backend
    networks:
      - appnet

  mongo:
    image: mongo:7
    container_name: mongo
    environment:
      - MONGO_INITDB_DATABASE=appdb
    volumes:
      - mongo-data:/data/db
    networks:
      - appnet

networks:
  appnet:

volumes:
  mongo-data:
