<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Threads list</title>
</head>
<body>
    <ul>
        <% threads.forEach(thread => { %>
            <li>
                <strong><%= thread.title %></strong>
                <strong><%= thread._id %></strong>
                <form action="/subthreads/<%= thread._id %>" method="GET">
                    <button type="submit">Zobacz więcej</button>
                </form>
                <form action="/threads/<%= thread._id %>" method="POST">
                    <button type="submit">Delete</button>  
                </form>
            </li>
        <% }) %>
    </ul>
    <form action="/threads/" method="POST">
            <inline>Add title for your new Thread! <input type="text" name="title" required>
            <button type="submit">Add thread</button>        
    </form>
</body>
</html>