<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Moje konto</title>
</head>
<body>
    <strong><%= user.login %></strong> — <%= user.email %><a href="/users/find/<%= user._id %>">Edytuj</a>
    <form action="/auth/logout" method="POST">
        <button type="submit">Wyloguj się</button>
    </form>
</body>
</html>