<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Thread moderator panel</title>
</head>
<body>
    <ul>
        <% users.forEach(user => { %>
            <li>
                <strong><%= user.login %></strong> — <%= user.email %><a href="">Block</a><a href="">Promote to moderator</a>
            </li>
        <% }) %>
    </ul>
</body>
</html>