:root {
  --bg: #000;
  --bg-soft: #111;
  --card: #161616;
  --border: #2a2a2a;
  --text: #eaeaea;
  --text-soft: #9b9b9b;
  --accent: #fff;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  color: var(--text);
  background: var(--bg);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  max-width: 100vw;
}
#app {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: var(--accent);
  text-decoration: none;
}

button {
  font-family: inherit;
  transition: 0.2s;
  cursor: pointer;
}
